html, body {
  height: 100%;
}
body {
  font-family: Helvetica;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 335px;
  display: block;
}
.section {
  padding: 40px 20px 40px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-image: url("../img/paper.png"); */
}
.subsection {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}
.about {
  padding-left: 0;
}
.main {
  padding: 0;
  background-image: none;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.header {
  height: 400px;
  padding: 0;
  margin-top: 0;
  background-image: url("../img/header2.png");
  background-position: center;
  background-repeat: no-repeat;
}
.picture {
  width: 30%;
  align-self: center;
}
.picture-circle {
  border: solid 2px #F9F9F9;
  width: 100%;
  height: auto;
  position: center;
  margin-left: 10px;
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
}

.aboutme {
  width: 50%;
  flex-grow: 2;
  text-align: left;
  align-self: center;
  padding: 5px;
}
.contact {
  margin-top: 50px;
  background-image: none;
  background-color: white;
}
.contact-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact p {
  width: 90%;
  padding: 20px 10px;
}
.headers {
  width: 20%;
  flex-grow: 1;
  align-self: center;
  text-align: left;
  color: #e6795c;
  margin-right: 10px;
}
.info {
  width: 50%;
  flex-grow: 2;
  text-align: left;
  padding: 10px;
  border-right: 2px solid #DDD;
  border-left: 2px solid #DDD;

}
.date {
  width: 20%;
  align-self: center;
  padding-top: 5px;
  margin-left: 10px;
}
.date p {
  padding: 5px;
  color: #FFF;
  background: rgb(230, 121, 92);
  float: left;
}

h1 {
  padding-top: 100px;
  color: #DDD;
  font-size: 3em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 3px;
}
h4 {
  padding-bottom: 5px;
}
.info p {
  font-size: 12px;
}
.header p {
  color: #DDD;
  text-align: center;
}
.headers p {
  font-size: 12px;
}
.title {
  font-weight: bold;
}
.subsection p {
  text-align: left;
  padding-bottom: 5px;
}
.ab p {
  padding-left: 50px;
  font-size: 12px;
}
.menu {
  width: 100%;
  margin-top: 0;
  background-image: none;
  position: fixed;
  padding: 10px 0px 10px 0px;
  background-color: white;
  padding-bottom: 10px;
  text-align: center;
}
li {
  display: inline-block;
  width: 80px;
}
li a {
  color: #e6795c;
  text-decoration: none;
}
#schoolicon, #workicon {
  float: left;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 5px;
}
